<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Booking_Functional">
  <test name="Test">
    <classes>
      <class name="MySpiceProject.BookHolidayPackage"/>
      <class name="MySpiceProject.BookFlight"/>
      <class name="MySpiceProject.BookHotel"/>
      <class name="MySpiceProject.FlightStatus"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Booking_Functional -->
